{% extends "layout.njk" %}

{% block content %}
    <div class="card__content">
        <div class="card__content-intro">
            <h1>As melhores receitas</h1>
            <p>
                Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
            </p>
        </div>

        <div class="card__content-chef">
            <img src="/assets/chef.png" alt="chef">
        </div>
    </div>

    <h2>Mais Acessadas</h2>

    <section class="cards">

        {% for recipe in recipes %}
            <div class="card">
                <div class="card__photo">
                    <img src={{ recipe.image }}>
                </div>
                <div class="card__info">
                    <h4>{{ recipe.title }}</h4>
                    <p>por
                        {{ recipe.author }}</p>
                </div>
            </div>
        {% endfor %}

    </section>
{% endblock %}