{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock %}

{% block content %}

    <section class="cards">

        {% for recipe in recipes %}

            <div class="card" id="burger.png">
                <div class="card__photo">
                    <a href="/recipes/{{loop.index0}}" target="_blank">
                        <img src={{ recipe.image }}>
                    </a>
                </div>
                <div class="card__info">
                    <h3>{{ recipe.title }}</h3>
                    <p>por {{ recipe.author }}</p>
                </div>
            </div>

        {% endfor %}        

    </section>

    {# <div class="overlay-modal">
        <div class="modal">

            <div class="modal__photo">
                <img src="" alt="">
            </div>
            <div class="modal__info">
                <h2></h2>
                <p></p>
            </div>

            <div class="close-modal">
                <a href="#">Fechar modal</a>
            </div>

        </div>
    </div> #}

    <script src="/scripts.js"></script>

{% endblock %}