{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>
{% endblock %}

{% block content %}

    <section class="cards">

        {% for recipe in recipes %}

            <div class="card">
                <div class="card__photo">
                    <a href="/recipes/{{loop.index0}}">
                        <img src={{ recipe.image }}>
                    </a>
                </div>
                <div class="card__info">
                    <h3>{{ recipe.title }}</h3>
                    <p>por {{ recipe.author }}</p>
                </div>
            </div>

        {% endfor %}        

    </section>

    <script src="/scripts.js"></script>

{% endblock %}